{% extends 'students/main.html'%}
{% block content%}


<style>
    label{

    }



</style>
<div class="container">

    <form action="" method="post" class='form'>
        {% csrf_token%}

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Mathematics</span>
            </div>
            <input class="form-control" id="maths" name="" placeholder="Test" type="number" size="4" maxlength="30">

            <input autocomplete="off" class="form-control" name="box2" placeholder="Exams" type="number">

        </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Mathematics</span>
            </div>
            <input class="form-control" id="maths" name="" placeholder="Test" type="number" size="4" maxlength="30">

            <input autocomplete="off" class="form-control" name="box2" placeholder="Exams" type="number">

        </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Mathematics</span>
            </div>
            <input class="form-control" id="maths" name="" placeholder="Test" type="number" size="4" maxlength="30">

            <input autocomplete="off" class="form-control" name="box2" placeholder="Exams" type="number">

        </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Mathematics</span>
            </div>
            <input class="form-control" id="maths" name="" placeholder="Test" type="number" size="4" maxlength="30">

            <input autocomplete="off" class="form-control" name="box2" placeholder="Exams" type="number">

        </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Mathematics</span>
            </div>
            <input class="form-control" id="maths" name="" placeholder="Test" type="number" size="4" maxlength="30">

            <input autocomplete="off" class="form-control" name="box2" placeholder="Exams" type="number">

        </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Mathematics</span>
            </div>
            <input class="form-control" id="maths" name="" placeholder="Test" type="number" size="4" maxlength="30">

            <input autocomplete="off" class="form-control" name="box2" placeholder="Exams" type="number">

        </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Mathematics</span>
            </div>
            <input class="form-control" id="maths" name="" placeholder="Test" type="number" size="4" maxlength="30">

            <input autocomplete="off" class="form-control" name="box2" placeholder="Exams" type="number">

        </div>

           <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Comment</span>
            </div>

            <input autocomplete="off" class="form-control" name="box2" placeholder="Teachers Comment" type="text">

        </div>

   <input type="submit" class="form-control">

    </form>


</div>


{% endblock%}
