{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static '/css/register.css' %}">
    <title>SIGN UP</title>
</head>
<body>


<form   action=""  method="POST">

    {% csrf_token%}

<!--    {{ form }}-->
    Username {{form.username}}
    <label for="email"> Email    {{form.email}}</label>
    <label for="first_name"> First Name </label> {{form.first_name}}
    <label for=""> Last Name  {{form.last_name}} </label>
    <label for=""> Password  {{form.password1}}</label>
    <label for=""> Confirm Password {{form.password2}} </label>

    {{form.errors}}

<!--    <input type="text" placeholder="Username" name="username" required>-->
<!--    <input type="email" placeholder="EMAIL" name="email" required>-->
<!--&lt;!&ndash;    <input type="text" placeholder="ID NUMBER" name="email" required>&ndash;&gt;-->
<!--    <input type="password" placeholder="PHONE NUMBER" name="password1" required>-->
<!--    <input type="password" placeholder="PASSWORD" name="password2" required>-->
    <input type="submit" value="REGISTER" name="submit" class="register">


</form>

</body>
</html>